# Blindagem de Senhas
.env
.env.local

# Dependencias muito pesadas
node_modules/
npm-debug.log

# Lixo de Imagens
backend/uploads/
*.log
.DS_Store

# Obsidian
*.md

# Chaves Privadas do Firebase
backend/firebase-admin-key.json

# Chaves de Segurança do Google Cloud (NUNCA MANDAR)
vyxfotos-*.json
*.json.key
